.form-container {
  width: 600px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: 0.0025em;

  color: #2a414f;
}
.input-group label {
  display: block;
  margin-left: 5px;
}
.input-group input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
  padding: 0 7px;
  margin-bottom: 20px;
}
.form-submit {
  width: 415px;
  height: 55px;
  background: rgba(255, 153, 0, 0.3);
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.form-submit:hover {
  background: rgba(255, 153, 0, 0.5);
}
.form-link {
  color: #ff9900;
  text-decoration: none;
}
